@use '../custom' as *;
footer{
    font-family: 'Rubik', sans-serif;
    padding: 2rem;
    border-top: 1px solid white;
    margin-top: 2rem;
}


.footerl-copy{
       
      
    font-size: 1.2rem;
    color:white;

}